/* Estilos Generales */
:root {
  --n-01: #2D2D2D;
  --g-01: #757677;
  --g-02: #BCBEBE;
  --g-03: #EBECEC;
  --b-01: #FFFFFF;
  --a-01: #114357;
  --a-02: #286781;
  --c-01: #C5DADE;
  --c-02: #E6EEEF;
  --error: #C60D0D;
  --warning: #FFB700;
  --info: #1A58DD;
  --success: #06C170;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--n-01);
  font-family: 'Be Vietnam Pro', sans-serif;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

small {
  font-size: 0.75rem;
  line-height: 1rem;
}

/* Font weight */
.fw-eb {
  font-weight: 800;
}

.fw-sb {
  font-weight: 600;
}

/*End Font weight */

/* Margins */
.marginBottom-0-5 {
  margin-bottom: .5rem !important;
}

.marginBottom-1 {
  margin-bottom: 1rem !important;
}

.marginBottom-1-5 {
  margin-bottom: 1.5rem !important;
}

.marginBottom-2 {
  margin-bottom: 2rem !important;
}

.marginBottom-2-5 {
  margin-bottom: 2.5rem !important;
}


.marginBottom-3 {
  margin-bottom: 3rem !important;
}

.marginBottom-3-5 {
  margin-bottom: 3.5rem !important;
}

.marginBottom-4 {
  margin-bottom: 4rem !important;
}

.marginBottom-4-5 {
  margin-bottom: 4.5rem;
}

/* End Margins */

/* Buttons */
.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}

.btn-large {
  padding: .75rem 3rem;
}

.btn-icon {
  display: flex;
  align-items: center;
}

.btn-icon .material-icons {
  padding-left: 1rem;
}

.primary-button {
  background-color: var(--a-02);
  color: var(--g-03);
}

.primary-button:hover {
  background-color: var(--a-01);
  color: var(--g-03);
}

.primary-button:focus {
  background-color: var(--c-01);
  color: var(--n-01);
}

.primary-button.disabled {
  background-color: var(--g-02);
  color: var(--b-01);
  opacity: 1;
}

.link-button {
  /* background-color: salmon; */
  color: var(--n-01);
  padding: 0.5rem  0;
  text-decoration: underline;
  font-weight: 600;
}

.link-button:hover {
  color: var(--a-02);
  text-decoration: underline;
}

.link-button:focus {
  color: var(--a-02);
  text-decoration: underline;
}

.link-button.disabled {
  color: var(--g-02);
  text-decoration: underline;
}

.light-button {
  color: var(--n-01);
}

.light-button:hover {
  color: var(--n-01);
  background-color: var(--g-03);
}

.btn-light:focus, .btn-light.focus {
  color: var(--n-01);
  background-color: var(--g-03);
  border-color: var(--g-03);
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
  background-color: var(--g-02);
  color: var(--b-01);
  opacity: 1;
}
/* End Buttons */

.show {
  display: block;
}

.hide {
  display: none;
}

/* Fin Estilos Generales */

/* main -------------------- */

.main-login {
  /* background-color: palegreen; */
  min-height: 100vh;
}

/* img login */

.wrap-img-login {
  /* background-color: var(--info); */
  background-image: url(../img/bg/bg-login.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Fin img login */

/* form-login */

.wrap-form-login {
  /* background-color: var(--info); */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  /* background-color: pink; */
  min-width: 480px;
}

.form-title {
  /* background-color: lavender; */
  text-align: center;
}

.input-group-addon {
  /* background-color: yellow; */
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group-addon a {
  /* background-color: pink; */
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.field-icon {
  background-color: var(--g-03);
  cursor: pointer;
  float: right;
  margin-left: -2rem;
  margin-top: -2.3rem;
  margin-right: 1rem;
  position: relative;
  z-index: 2;
}

.form-login .logo {
  /* background-color: lavender; */
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5rem;
  display: none;
}

.form-login .logo img {
  width: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

/* fin form login */

/* Floating labels */
.field-floating-label {
  position: relative;
  margin-bottom: 1rem;
}
.field__label {
  /* background-color: pink; */
  color: var(--g-01);
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  line-height: 1;
  opacity: 0;
  overflow: hidden;
  padding: 1rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  text-align: left;
  transform: translateY(3px);
  transition: all 0.2s ease-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
}
.field--not-empty .field__label {
  opacity: 1;
  transform: none;
}
.field__input {
  background-color: var(--g-03);
  border: 2px solid #e9e9e9;
  color: var(--n-01);
  font-size: 1em;
  padding: 1rem;
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: .25rem;
}
.field__input:hover {
  background-color: var(--c-02);
}
.field__input:focus {
  box-shadow: inset 0 0 0 2px var(--a-02);
  outline: 0;
}
.field__input:disabled {
  opacity: .5;
}
.field--not-empty .field__input {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--g-01);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--g-01);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--g-01);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: var(--g-01);
}

.text-help {
  color: var(--error);
  display: flex;
  align-items: center;
  padding-top: .25rem;
  display: none;
}

.text-help .material-icons {
  margin-right: .5rem;
}

.field__input.error-input {
  box-shadow: inset 0 0 0 2px var(--error);
  outline: 0;
}

/* Fin Floating labels */


/* fin Main */

/* Modal Contraseña olvidada */
  .modal-dialog {
    border-radius: .5rem;
    overflow: hidden;
  }

  .modal .close:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
  }

  .modal-header {
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .modal-header, .modal-footer {
    border: none;
  }

  .modal-body {
    /* background-color: pink; */
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
    padding-bottom: 1.5rem;
  }

  .modal-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
  }

  .modalInfo .iconModal {
    font-size: 2rem;
  }

  .modal .form-group {
    text-align: left;
  }
/* Fin modal contraseña olvidada */

/* modal arbitro elegido */
.card-lawyer-elected {
  background-color: var(--g-03);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  text-align: left;
  border-radius: .25rem;
  margin-bottom: .5rem;
}

.card-lawyer-elected .name-lawyer {
  font-weight: 600;
  margin-bottom: .5rem;
}

.card-lawyer-elected .user-img {
  min-width: 5rem;
  min-height: 5rem;
  max-width: 5rem;
  max-height: 5rem;
  overflow: hidden;
  border-radius: 50%;
}

.card-lawyer-elected .user-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-especialidad {
  background-color: var(--g-03);
  border-radius: .25rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: .5rem;
}

.card-especialidad .material-icons {
  color: var(--success);
}

/* Fin modal arbitro elegido */

/* SISTEMA ALEATORIO */
/* Stepper tabs */
.nav-pills-stepper {
  /* background-color: pink; */
  margin-left: auto;
  margin-right: auto;
}

.nav-pills-stepper .nav-link {
  color: var(--g-02);
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}

.step-position {
  background-color: var(--g-02);
  color: var(--b-01);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-pills-stepper .nav-link.active,
.nav-pills-stepper .show > .nav-link {
  color: var(--a-01);
  background-color: var(--b-01);
  border-bottom: solid 2px var(--a-01);
}

.nav-pills-stepper .nav-link.active .step-position {
  background-color: var(--a-01);
}

.nav-pills .nav-link {
  border-radius: 0;
  height: 100%;
}

/* estilo del paso completado */
.nav-pills-stepper .nav-link.completed .step-position {
  background-color: var(--a-01);
}

.nav-pills-stepper .nav-link.completed {
  color: var(--a-01);
}

/* fin del estilo del paso completado */

.tab-content-stepper {
  /* background-color: lavender; */
}

.footer-stepper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

/* Fin stepper tab */

/* Grid cards abogados */
.grid-container-abogados {
  /* background-color: pink; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.grid-container-abogados .item {
  /* height: 14rem; */
}

.card-lawyer {
  border-radius: .25rem;
  padding: .5rem;
  display: flex;
  align-items: center;
}

.card-lawyer.disponible {
  background-color: var(--c-01);
}

.card-lawyer.disponible .indicator {
  background-color: var(--success);
}

.card-lawyer.ocupado {
  background-color: var(--g-03);
}

.card-lawyer.ocupado .indicator {
  background-color: var(--error);
}

.card-lawyer.ocupado .info-user {
  color: var(--g-02);
}

.card-lawyer .user-img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.card-lawyer .user-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-lawyer .info-user .name-lawyer {
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-lawyer .status-user {
  display: flex;
  align-items: center;
}

.card-lawyer .status-user .indicator {
  display: block;
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
  margin-right: .5rem;
}
/* Fin grid cards abogados */
/* FIN SISTEMA ALEATORIO */
