/* Estilos Generales */
:root {
  --n-01: #2D2D2D;
  --g-01: #757677;
  --g-02: #BCBEBE;
  --g-03: #EBECEC;
  --b-01: #FFFFFF;
  --a-01: #114357;
  --a-02: #286781;
  --c-01: #C5DADE;
  --c-02: #E6EEEF;
  --error: #FF3535;
  --warning: #FFB700;
  --info: #1A58DD;
  --success: #06C170;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--n-01);
  font-family: 'Rubik', sans-serif;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

small {
  font-size: 0.75rem;
  line-height: 1rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.fw-sb {
  font-weight: 600;
}

.marginBottom-1 {
  margin-bottom: 1rem;
}

.marginBottom-1-5 {
  margin-bottom: 1.5rem;
}

.marginBottom-2 {
  margin-bottom: 2rem;
}

.marginBottom-2-5 {
  margin-bottom: 2.5rem;
}


.marginBottom-3 {
  margin-bottom: 3rem;
}

.marginBottom-3-5 {
  margin-bottom: 3.5rem;
}

.marginBottom-4 {
  margin-bottom: 4rem;
}

.marginBottom-4-5 {
  margin-bottom: 4.5rem;
}

/* Fin Estilos Generales */
.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 3rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}

.primary-button {
  background-color: var(--a-02);
  color: var(--g-03);
}

.primary-button:hover {
  background-color: var(--a-01);
  color: var(--g-03);
}

.primary-button:focus {
  background-color: var(--c-01);
  color: var(--n-01);
}

.primary-button.disabled {
  background-color: var(--g-02);
  color: var(--b-01);
  opacity: 1;
}

.link-button {
  background-color: salmon;
  color: var(--n-01);
  padding: 0.5rem  0;
}

.link-button:hover {
  color: var(--g-01);
}

.form-group label {
  opacity: .9;
  font-size: .9rem;
  margin-bottom: 5px;
}

/* main -------------------- */

.main-login {
  /* background-color: palegreen; */
  min-height: 100vh;
}

/* img login */

.wrap-img-login {
  /* background-color: var(--info); */
  background-image: url(../img/bg/bg-login.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Fin img login */

/* form-login */

.wrap-form-login {
  background-color: var(--bg-content);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  background-color: pink;
  min-width: 480px;
}

.form-title {
  background-color: lavender;
  text-align: center;
}

.input-group-addon {
  /* background-color: yellow; */
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group-addon a {
  /* background-color: pink; */
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.input-group-password {
  /* background-color: pink; */
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.form-control:focus {
  border-color: var(--secondary-color);
  box-shadow: none;
}

.field-icon {
  background-color: var(--white);
  cursor: pointer;
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  margin-right: 11.250px;
  position: relative;
  z-index: 2;
}

/* fin form login */

/* fin Main */

/* Modal Contraseña olvidada */
  .modal-dialog {
    border-radius: 2rem;
    overflow: hidden;
  }

  .modal .close:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
  }

  .modal-header, .modal-footer {
    border: none;
  }

  .modal-body {
    /* background-color: pink; */
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0;
  }

  .modal-body img {
    background-color: var(--primary-color);
    height: 4rem;
    padding: .5rem;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .modal-title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
  }

  .modal .form-group {
    text-align: left;
  }

  .text-help {
    color: var(--danger-color);
    font-size: 12px;
    display: none;
  }

/* Fin modal contraseña olvidada */
